support.csv


/compiled
.autosave.rkt

/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
tags
.nrepl-history
.nrepl-port
.rebel_readline_history

.*.sw?
.nfs*
*~

*.o
*.so
*.class

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf

*.pyc
d_parser*.dat
d_parser*.md5

parser.out
parsetab.py
tmp.py
*.gen.py
