/*
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle,rect {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}

.tstep {
  fill: #fff;
  stroke: #000;
  stroke-width: 1px;
}

.trace {
  fill: blue;
  padding: 3px;
}
*/

.workspace {
  fill: none;
  pointer-events: all;
}

#ws {
}

.svgContainer {
  padding: 2%;
  max-height: 600;
  max-width: 960;
  overflow: auto;
  border: 1px solid gray;
}

.node {
  fill: DarkSeaGreen;
  //stroke-width: 1px;
  //stroke: Black;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.svgText {
  pointer-events: none;
}

.link {
  stroke: #999;
}

svg .trace {
  fill: PaleGoldenRod;
}

svg .t {
  fill: LightGoldenRodYellow;
}

svg .problem {
  fill: PapayaWhip;
}

svg .number {
  fill: SteelBlue;
}

svg .brick {
  fill: FireBrick;
}

svg .target {
  fill: Salmon;
}

svg .equals, svg .times {
  fill: Gold;
}

svg .consume {
  fill: OliveDrab;
}

svg .equation {
  fill: Green;
}
